span {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px 6px;
}

.options {
  display: grid;
  gap: 1.5rem 0;
  margin: 40px auto;
  max-width: 1000px;
  width: 90vw;
}
@media (min-width: 481px) {
  .options {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) {
  .options {
    grid-template-columns: repeat(3, 1fr);
    width: 60vw;
  }
}
.options .options__element {
  border: 1px solid rgb(35, 35, 163);
  border-radius: 10px;
  color: rgb(30, 30, 151);
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}
.options .options__element .options__element-image {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(35, 35, 163);
  height: 130px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.options .options__element .options__element-image::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.options .options__element .options__element-image img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.options .options__element:hover {
  background-color: rgb(35, 35, 163);
  color: #fff;
}
.options .options__element h4 {
  margin: 1rem;
}