html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}
body .intro-text {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  margin: 0 0 20px 0;
  max-width: 100%;
  padding: 20px 12px;
  text-align: center;
}
body .intro-text span {
  text-decoration: underline;
}
body .images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px;
  /*********************
   *       BASES       *
   *********************/
  /*********************
   *      EFFECTS      *
   *********************/
}
body .images-container .caption a {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  body .images-container .caption a {
    font-size: 1rem;
  }
}
body .images-container .img-base-1 {
  font-family: "Lato", sans-serif;
  height: auto;
  margin: 16px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
@media (min-width: 768px) {
  body .images-container .img-base-1 {
    width: 400px;
  }
}
body .images-container .img-base-1 img {
  height: auto;
  transition: all 0.5s;
  width: 100%;
}
body .images-container .img-base-1 .caption {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .images-container .img-base-1 .caption h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  body .images-container .img-base-1 .caption h1 {
    font-size: 1.8rem;
  }
}
body .images-container .img-base-1 .caption p {
  font-size: 1rem;
  line-height: 1.5;
  margin-inline: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  body .images-container .img-base-1 .caption p {
    font-size: 1.2rem;
    line-height: 1.7;
  }
}
body .images-container .img-base-2 {
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  height: 450px;
  margin: 16px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
@media (min-width: 768px) {
  body .images-container .img-base-2 {
    width: 400px;
  }
}
body .images-container .img-base-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100%;
  opacity: 0.6;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
  width: 100%;
}
body .images-container .img-base-2 img {
  height: 100%;
  width: auto;
}
body .images-container .img-base-2 .caption {
  color: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(-20px);
  transition: all 0.25s;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .images-container .img-base-2 .caption h2, body .images-container .img-base-2 .caption h5 {
  font-weight: 400;
  margin: 0;
}
body .images-container .img-base-2 .caption h2 {
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
body .images-container .img-base-2 .caption h5 {
  background-color: #df2323;
  letter-spacing: 1.5px;
  line-height: 1.2;
  margin-inline: 16px;
  max-width: 60%;
  padding: 5px;
  text-align: center;
}
body .images-container .img-base-3, body .images-container .img-base-4 {
  font-family: "Lato", sans-serif;
  margin: 16px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
@media (min-width: 768px) {
  body .images-container .img-base-3, body .images-container .img-base-4 {
    width: 400px;
  }
}
body .images-container .img-base-3:before, body .images-container .img-base-4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 300%;
  opacity: 0.6;
  width: 300%;
}
body .images-container .img-base-3 .caption, body .images-container .img-base-4 .caption {
  color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .images-container .img-base-3 .caption h2, body .images-container .img-base-3 .caption p, body .images-container .img-base-3 .caption a, body .images-container .img-base-4 .caption h2, body .images-container .img-base-4 .caption p, body .images-container .img-base-4 .caption a {
  font-weight: 400;
  text-align: center;
}
body .images-container .img-base-3 .caption h2, body .images-container .img-base-4 .caption h2 {
  background-color: #df2323;
  font-size: 1.1rem;
  margin-top: 15px;
  padding: 20px;
  width: 100%;
}
body .images-container .img-base-3 .caption p, body .images-container .img-base-4 .caption p {
  align-self: center;
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 25px;
  width: 80%;
}
@media (min-width: 768px) {
  body .images-container .img-base-3 .caption p, body .images-container .img-base-4 .caption p {
    font-size: 1rem;
  }
}
body .images-container .img-base-3 .caption a, body .images-container .img-base-4 .caption a {
  align-self: center;
  background-color: #000;
  color: #fff;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  width: 100px;
}
body .images-container .img-base-3 img {
  height: auto;
  width: 100%;
}
body .images-container .img-base-4 img {
  height: 100%;
  width: 100%;
}
body .images-container .img-effect-1:hover img {
  transform: scale(1.3) rotate(15deg);
}
body .images-container .img-effect-1:hover .caption {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
body .images-container .img-effect-2 .caption {
  opacity: 1;
  transform: translateX(-100%);
}
body .images-container .img-effect-2:hover img {
  transform: scale(1.3) rotate(-15deg);
}
body .images-container .img-effect-2:hover .caption {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(0);
}
body .images-container .img-effect-3 .caption {
  background-color: #000;
  opacity: 1;
  transform: translateX(-100%);
}
body .images-container .img-effect-3:hover img {
  transform: translateX(100%);
}
body .images-container .img-effect-3:hover .caption {
  transform: translateX(0);
}
body .images-container .img-effect-4 .caption {
  background-color: #000;
  bottom: 0;
  height: 50%;
  opacity: 1;
  top: auto;
  transform: translateY(100%);
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  body .images-container .img-effect-4 .caption h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  body .images-container .img-effect-4 .caption p {
    font-size: 0.7rem;
  }
}
body .images-container .img-effect-4:hover img {
  transform: translateY(-50%);
}
body .images-container .img-effect-4:hover .caption {
  transform: translateY(0);
}
body .images-container .img-effect-5:hover:before {
  transform: translateY(0);
  transition-delay: 0s;
}
body .images-container .img-effect-5:hover .caption {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.25s;
}
body .images-container .img-effect-6 {
  border: 5px solid #df2323;
}
body .images-container .img-effect-6:before {
  content: none;
}
body .images-container .img-effect-6 img {
  transition: transform 1s;
}
body .images-container .img-effect-6 img:hover {
  transform: scale(1.3) rotate(9deg);
}
body .images-container .img-effect-7 {
  height: 250px;
}
body .images-container .img-effect-7:before {
  transition: all 0.25s;
  transform: translate(600px, 250px) rotate(45deg);
}
body .images-container .img-effect-7 .caption {
  opacity: 0;
}
body .images-container .img-effect-7 .caption h2 {
  transform: translate(200px, -200px);
}
body .images-container .img-effect-7 .caption p {
  transform: translate(-200px, 200px);
}
body .images-container .img-effect-7 .caption a {
  transform: translateY(100px);
}
body .images-container .img-effect-7 .caption h2, body .images-container .img-effect-7 .caption p, body .images-container .img-effect-7 .caption a {
  transition: all 0.25s;
}
body .images-container .img-effect-7:hover:before {
  transform: translate(-50px, -150px) rotate(45deg);
}
body .images-container .img-effect-7:hover .caption {
  opacity: 1;
}
body .images-container .img-effect-7:hover .caption h2 {
  transition-delay: 0.3s;
}
body .images-container .img-effect-7:hover .caption p {
  transition-delay: 0.4s;
}
body .images-container .img-effect-7:hover .caption a {
  transform: translateY(0);
  transition-delay: 0.5s;
}
body .images-container .img-effect-7:hover .caption h2, body .images-container .img-effect-7:hover .caption p {
  transform: translate(0, 0);
}
body .images-container .img-effect-8 {
  height: 250px;
}
body .images-container .img-effect-8:before {
  transform: translate(650px, -100px) rotate(180deg);
  transition: all 0.2s;
}
body .images-container .img-effect-8 .caption {
  opacity: 0;
}
body .images-container .img-effect-8 .caption h2 {
  transform: translateY(-150px);
}
body .images-container .img-effect-8 .caption p {
  transform: translateX(300px) rotate(90deg);
}
body .images-container .img-effect-8 .caption a {
  transform: translateY(-300px);
}
body .images-container .img-effect-8 .caption h2, body .images-container .img-effect-8 .caption p, body .images-container .img-effect-8 .caption a {
  transition: all 0.2s;
}
body .images-container .img-effect-8:hover:before {
  transform: translate(0, 0) rotate(0deg);
}
body .images-container .img-effect-8:hover .caption {
  opacity: 1;
}
body .images-container .img-effect-8:hover .caption h2 {
  transform: translateY(0);
  transition-delay: 0.5s;
}
body .images-container .img-effect-8:hover .caption p {
  transform: translateX(0) rotate(0deg);
  transition-delay: 0.4s;
}
body .images-container .img-effect-8:hover .caption a {
  transform: translateY(0);
  transition-delay: 0.3s;
}
body .images-container .img-effect-9 {
  background-color: #5e5e5e;
  border: 10px solid #05bfd8;
  height: auto;
}
body .images-container .img-effect-9 img {
  transition: all 0.3s;
  transition-delay: 0.3s;
}
body .images-container .img-effect-9:before {
  background-color: #05bfd8;
  transform: scale(0) rotate(-180deg);
  transition: all 0.3s;
}
body .images-container .img-effect-9 .caption h2, body .images-container .img-effect-9 .caption p, body .images-container .img-effect-9 .caption a {
  opacity: 0;
  transition: all 0.3s;
}
body .images-container .img-effect-9:hover img {
  transform: scale(0);
  transition-delay: 0;
}
body .images-container .img-effect-9:hover:before {
  transform: scale(1) rotate(0deg);
  transition-delay: 0.3s;
}
body .images-container .img-effect-9:hover .caption h2, body .images-container .img-effect-9:hover .caption p, body .images-container .img-effect-9:hover .caption a {
  opacity: 1;
  transition-delay: 0.8s;
}
body .images-container .img-effect-10 {
  height: auto;
}
body .images-container .img-effect-10:before {
  opacity: 0;
  background-color: #05bfd8;
  transition: all 0.3s;
}
body .images-container .img-effect-10 .caption h2, body .images-container .img-effect-10 .caption p {
  opacity: 0;
  transition: all 0.3s;
  transform: scale(10);
}
body .images-container .img-effect-10 .caption a {
  transform: translateY(300px);
  transition: all 0.3s;
}
body .images-container .img-effect-10:hover:before {
  opacity: 0.8;
}
body .images-container .img-effect-10:hover .caption h2, body .images-container .img-effect-10:hover .caption p {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.2s;
}
body .images-container .img-effect-10:hover .caption a {
  transform: translateY(0);
  transition-delay: 0.2s;
}
body .images-container .img-effect-11 {
  background-color: #5e5e5e;
  border: 10px solid #05bfd8;
  height: auto;
}
body .images-container .img-effect-11:before {
  background-color: #05bfd8;
  opacity: 0;
  transition: all 0.3s;
}
body .images-container .img-effect-11 img {
  transition: all 0.5s;
}
body .images-container .img-effect-11 .caption h2, body .images-container .img-effect-11 .caption p, body .images-container .img-effect-11 .caption a {
  transform: translateY(-600px);
  transition: all 0.2s;
}
body .images-container .img-effect-11:hover:before {
  opacity: 1;
  transition-delay: 0.5s;
}
body .images-container .img-effect-11:hover img {
  opacity: 0;
  transform: rotate(720deg) scale(0);
}
body .images-container .img-effect-11:hover .caption h2 {
  transition-delay: 0.9s;
}
body .images-container .img-effect-11:hover .caption p {
  transition-delay: 0.7s;
}
body .images-container .img-effect-11:hover .caption a {
  transition-delay: 0.5s;
}
body .images-container .img-effect-11:hover .caption h2, body .images-container .img-effect-11:hover .caption p, body .images-container .img-effect-11:hover .caption a {
  transform: translateY(0);
}