.basics div {
  height: 150px;
  width: 150px;
  background-color: #971f9b;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  line-height: 150px;
  margin: 20px auto 20px auto;
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.basics div.scale:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.basics div.translate:hover {
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
}

.basics div.rotate:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.basics div.skew:hover {
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}
