body {
  background-color: rgb(46, 45, 45);
}
body .buttons-container {
  margin: 50px auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .buttons-container .button {
  margin: 40px;
  text-align: center;
}
body .buttons-container .button a {
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  overflow: hidden;
  padding: 20px 40px;
  position: relative;
  text-decoration: none;
}
body .buttons-container .rotating-button a {
  border: 3px solid #FFF;
  color: #FFF;
}
body .buttons-container .rotating-button a:before {
  background-color: #E7CD5C;
  content: "";
  height: 100%;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 0.8s;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
body .buttons-container .rotating-button a:hover:before {
  transform: rotate(0deg);
}
body .buttons-container .swipe-button a {
  border: 3px solid #D18BC0;
  color: #D18BC0;
  transition: all 1s;
}
body .buttons-container .swipe-button a:before {
  background-color: #D18BC0;
  content: "";
  height: 100%;
  transform: translateX(-100%);
  transition: all 1s;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
body .buttons-container .swipe-button a:hover {
  color: #fff;
}
body .buttons-container .swipe-button a:hover:before {
  transform: translateX(0);
}
body .buttons-container .opening-button a {
  border: 3px solid #35CAD4;
  color: #35CAD4;
  position: relative;
  transition: 1s;
}
body .buttons-container .opening-button a:before {
  content: "";
  background-color: #35CAD4;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateX(90deg);
  transition: 1s;
  width: 100%;
  z-index: -1;
}
body .buttons-container .opening-button a:after {
  content: "";
  background-color: #35CAD4;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateY(90deg);
  transition: 1s;
  width: 100%;
  z-index: -1;
}
body .buttons-container .opening-button a:hover {
  color: white;
}
body .buttons-container .opening-button a:hover:before {
  transform: rotateX(0);
}
body .buttons-container .opening-button a:hover:after {
  transform: rotateY(0);
}
body .buttons-container .stretch-button a {
  border: 3px solid #FE8E7B;
  color: #FE8E7B;
  font-family: "roboto";
  font-weight: 300;
  letter-spacing: -1px;
  text-transform: uppercase;
  transition: all 0.5s;
}
body .buttons-container .stretch-button a:hover {
  border: 7px solid #FE8E7B;
  font-weight: 900;
  letter-spacing: 6px;
}
body .buttons-container .drop-content-button a {
  background-color: #62A862;
  border: 3px solid #FFF;
  color: #FFF;
  overflow: hidden;
  position: relative;
  transition: all 0.8s;
}
body .buttons-container .drop-content-button a:before {
  content: "Hello!";
  background-color: #D18BC0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.8s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .buttons-container .drop-content-button a:hover:before {
  transform: translateY(0);
}
body .buttons-container .glowing-button a {
  background-color: #FF6787;
  border: 3px solid #FFF;
  color: #FFF;
  overflow: hidden;
  position: relative;
  transition: all 0.8s;
}
body .buttons-container .glowing-button a:before {
  content: "";
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}
body .buttons-container .glowing-button a:hover {
  background-color: #E7CD5C;
}
body .buttons-container .glowing-button a:hover:before {
  transform: translateX(100%) rotate(45deg);
}
body .buttons-container .move-text-content-button a {
  background-color: transparent;
  border: 3px solid #FFF;
  color: transparent;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}
body .buttons-container .move-text-content-button a:before {
  content: "Hover Me";
  background-color: #E7CD5C;
  color: rgb(99, 98, 98);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .buttons-container .move-text-content-button a:after {
  content: "Hover Me";
  background-color: #E7CD5C;
  color: rgb(99, 98, 98);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-100%, 100%);
  transition: all 0.5s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .buttons-container .move-text-content-button a:hover:before {
  transform: translate(100%, -100%);
}
body .buttons-container .move-text-content-button a:hover:after {
  transform: translate(0, 0);
}
body .buttons-container .creative-text-scaling-button a {
  border: 3px solid #D18BC0;
  color: #D18BC0;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}
body .buttons-container .creative-text-scaling-button a:before {
  content: "Hover Me";
  background-color: #D18BC0;
  color: #FFF;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(5);
  transition: all 0.5s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .buttons-container .creative-text-scaling-button a:hover:before {
  opacity: 1;
  transform: scale(1);
}
body .buttons-container .circular-swaping-button {
  border: 2px solid #35CAD4;
  background: none;
  color: #35CAD4;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  overflow: hidden;
  padding: 20px 40px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s;
}
body .buttons-container .circular-swaping-button:before {
  content: "";
  background-color: #35CAD4;
  border-radius: 0 0 50% 50%;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: -1;
}
body .buttons-container .circular-swaping-button:hover {
  color: #FFF;
}
body .buttons-container .circular-swaping-button:hover:before {
  height: 100%;
}
body .buttons-container .creative-rotating-three-layers-button a {
  background-color: #FE8E7B;
  color: #FFF;
  letter-spacing: 2px;
  overflow: visible;
  text-transform: uppercase;
}
body .buttons-container .creative-rotating-three-layers-button a:before {
  content: "Hover me";
  background-color: #62A862;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: top;
  transform: rotateX(270deg);
  transition: all 0.5s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .buttons-container .creative-rotating-three-layers-button a:after {
  content: "Hover me";
  background-color: #FF6787;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: top;
  transform: rotateX(270deg);
  transition: all 0.5s;
  transition-delay: 0.25s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .buttons-container .creative-rotating-three-layers-button a:hover:before, body .buttons-container .creative-rotating-three-layers-button a:hover:after {
  transform: rotateX(0deg);
}
body .buttons-container .swapping-left-to-right-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .buttons-container .swapping-left-to-right-button a {
  border: 3px solid #FFF;
  color: transparent;
  overflow: visible;
  position: relative;
  text-transform: uppercase;
  width: 150px;
}
body .buttons-container .swapping-left-to-right-button a:before {
  content: "Hover me";
  background-color: #62A862;
  color: #FFF;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.6s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .buttons-container .swapping-left-to-right-button a:after {
  content: "Hover me";
  background-color: #62A862;
  color: #FFF;
  height: 100%;
  left: -100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0) rotatye(0deg);
  transition: all 0.6s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .buttons-container .swapping-left-to-right-button a:hover:before {
  left: 100%;
  opacity: 0;
  transform: scale(0) rotateY(360deg);
}
body .buttons-container .swapping-left-to-right-button a:hover:after {
  left: 0;
  opacity: 1;
  transform: scale(1) rotateY(360deg);
}
body .buttons-container .circles-to-background-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .buttons-container .circles-to-background-button a {
  background-color: transparent;
  border: none;
  color: #FF6787;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  line-height: 40px;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  width: 200px;
}
body .buttons-container .circles-to-background-button a span {
  background-color: #FF6787;
  border-radius: 8px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.3s;
  width: 100%;
  z-index: -1;
}
body .buttons-container .circles-to-background-button a:before, body .buttons-container .circles-to-background-button a:after {
  content: "";
  background-color: #FF6787;
  border-radius: 50%;
  height: 20px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
  width: 20px;
  z-index: -1;
}
body .buttons-container .circles-to-background-button a:before {
  left: 0;
  box-shadow: -100px 0 0 #FF6787;
}
body .buttons-container .circles-to-background-button a:after {
  right: 0;
  box-shadow: 100px 0 0 #FF6787;
}
body .buttons-container .circles-to-background-button a:hover {
  color: #FFF;
  transition-delay: 0.4s;
}
body .buttons-container .circles-to-background-button a:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
}
body .buttons-container .circles-to-background-button a:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 #FF6787;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}
body .buttons-container .circles-to-background-button a:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 #FF6787;
  opacity: 1;
  transform: translateX(50%) translateY(-50%);
}
body .buttons-container .two-background-colors-button a {
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s;
  color: #FFF;
  overflow: visible;
}
body .buttons-container .two-background-colors-button a:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #35CAD4;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: top;
}
body .buttons-container .two-background-colors-button a:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #FF6787;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: bottom;
}
body .buttons-container .two-background-colors-button a:hover {
  color: #FFF;
}
body .buttons-container .two-background-colors-button a:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}
body .buttons-container .two-background-colors-button a:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}
body .buttons-container .creative-splitted-button a {
  border: 3px solid #E7CD5C;
  color: #E7CD5C;
  font-size: 25px;
  letter-spacing: 3px;
  padding: 25px 50px;
  text-transform: uppercase;
  transition: all 0.2s;
}
body .buttons-container .creative-splitted-button a:before, body .buttons-container .creative-splitted-button a:after,
body .buttons-container .creative-splitted-button a span:before, body .buttons-container .creative-splitted-button a span:after {
  content: "";
  background-color: #E7CD5C;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  width: 25%;
  z-index: -1;
}
body .buttons-container .creative-splitted-button a:before {
  top: 100%;
  left: 0;
}
body .buttons-container .creative-splitted-button a:after {
  top: -100%;
  left: 25%;
  transition-delay: 0.1s;
}
body .buttons-container .creative-splitted-button a span:before {
  top: 100%;
  right: 25%;
  transition-delay: 0.2s;
}
body .buttons-container .creative-splitted-button a span:after {
  top: -100%;
  right: 0;
  transition-delay: 0.3s;
}
body .buttons-container .creative-splitted-button a:hover {
  color: #FFF;
}
body .buttons-container .creative-splitted-button a:hover:before {
  top: 0;
  left: 0;
}
body .buttons-container .creative-splitted-button a:hover:after {
  top: 0;
  left: 25%;
}
body .buttons-container .creative-splitted-button a:hover span:before {
  top: 0;
  right: 25%;
}
body .buttons-container .creative-splitted-button a:hover span:after {
  top: 0;
  right: 0;
}
body .buttons-container .border-swapping-button a {
  color: #D18BC0;
  font-size: 18px;
  height: 60px;
  letter-spacing: 3px;
  line-height: 60px;
  overflow: visible;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}
body .buttons-container .border-swapping-button a:before {
  content: "";
  border-left: 2px solid #FF6787;
  border-right: 2px solid #D18BC0;
  height: 90px;
  left: 0;
  position: absolute;
  top: -15px;
  transition: all 0.4s;
  width: 200px;
}
body .buttons-container .border-swapping-button a:after {
  content: "";
  border-bottom: 2px solid #D18BC0;
  border-top: 2px solid #FF6787;
  height: 60px;
  left: -15px;
  position: absolute;
  top: 0;
  transition-delay: 0.4s;
  transition: all 0.4s;
  width: 230px;
}
body .buttons-container .border-swapping-button a:hover:before {
  transform: rotateY(180deg);
}
body .buttons-container .border-swapping-button a:hover:after {
  transform: rotateX(180deg);
}
body .buttons-container .growing-border-button {
  background-color: #35CAD4;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  padding: 12px 40px;
  position: relative;
  text-transform: uppercase;
}
body .buttons-container .growing-border-button:before {
  content: "";
  border-left: 2px solid #35CAD4;
  border-top: 2px solid #35CAD4;
  height: 24px;
  left: -5px;
  position: absolute;
  top: -5px;
  transition: all 0.25s;
  width: 24px;
}
body .buttons-container .growing-border-button:after {
  content: "";
  border-bottom: 2px solid #35CAD4;
  border-right: 2px solid #35CAD4;
  bottom: -5px;
  height: 24px;
  position: absolute;
  right: -5px;
  transition: all 0.25s;
  width: 24px;
}
body .buttons-container .growing-border-button:hover:before, body .buttons-container .growing-border-button:hover:after {
  height: 100%;
  width: 100%;
}
body .buttons-container .rotating-first-letter-button a {
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 22px;
  height: 60px;
  line-height: 60px;
  overflow: visible;
  padding: 0;
  text-align: center;
  transition: all 0.2s;
  width: 160px;
}
body .buttons-container .rotating-first-letter-button a span {
  color: transparent;
  position: relative;
}
body .buttons-container .rotating-first-letter-button a span:before {
  content: "H";
  color: #FFF;
  position: absolute;
  transition: all 0.2s;
}
body .buttons-container .rotating-first-letter-button a:before {
  content: "";
  background-color: #FFF;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.8s;
  width: 100%;
  z-index: -1;
}
body .buttons-container .rotating-first-letter-button a:hover {
  color: rgb(99, 98, 98);
}
body .buttons-container .rotating-first-letter-button a:hover span:before {
  color: rgb(99, 98, 98);
  font-size: 60px;
  transform: translate(-65%, -10%) rotate(360deg);
}
body .buttons-container .rotating-first-letter-button a:hover:before {
  opacity: 1;
  transform: rotate(15deg);
}
body .buttons-container .four-growing-borders-button {
  background-color: transparent;
  border: none;
  color: #D18BC0;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 5px;
  line-height: 50px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}
body .buttons-container .four-growing-borders-button span:before {
  content: "";
  background-color: #D18BC0;
  height: 100%;
  position: absolute;
  right: 0;
  top: -100%;
  transition: all 0.5s;
  width: 4px;
}
body .buttons-container .four-growing-borders-button span:after {
  content: "";
  background-color: #D18BC0;
  bottom: -100%;
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.5s;
  width: 3px;
}
body .buttons-container .four-growing-borders-button:before {
  content: "";
  background-color: #D18BC0;
  height: 3px;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
}
body .buttons-container .four-growing-borders-button:after {
  content: "";
  background-color: #D18BC0;
  bottom: 0;
  height: 3px;
  position: absolute;
  right: -100%;
  transition: all 0.5s;
  width: 100%;
}
body .buttons-container .four-growing-borders-button:hover span:before {
  top: 0;
}
body .buttons-container .four-growing-borders-button:hover span:after {
  bottom: 0;
}
body .buttons-container .four-growing-borders-button:hover:before {
  left: 0;
}
body .buttons-container .four-growing-borders-button:hover:after {
  right: 0;
}
body .buttons-container .animated-wave-button a {
  border: 2px solid #00AEFF;
  color: #00AEFF;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.5s;
}
body .buttons-container .animated-wave-button a .wave {
  background-color: #00AEFF;
  height: 100%;
  left: 0;
  position: absolute;
  top: calc(100% + 22px);
  transition: all 1s;
  width: 100%;
  z-index: -1;
}
body .buttons-container .animated-wave-button a .wave:before {
  content: "";
  animation: wavy 0.5s linear infinite;
  background: url("imgs/wave.png");
  height: 22px;
  left: 0;
  position: absolute;
  top: -22px;
  width: 100%;
}
body .buttons-container .animated-wave-button a:hover {
  color: #FFF;
}
body .buttons-container .animated-wave-button a:hover .wave {
  top: 0;
}
body .buttons-container .two-cuts-button a {
  color: #FFF;
  font-size: 22px;
  height: 60px;
  line-height: 60px;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.2s;
  width: 160px;
}
body .buttons-container .two-cuts-button a span {
  background-color: transparent;
  border: 2px solid #FFF;
  height: calc(100% - 4px);
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - 4px);
  z-index: -1;
}
body .buttons-container .two-cuts-button a span:before {
  content: "";
  background-color: rgb(46, 45, 45);
  height: 500%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.2s;
  width: 8%;
}
body .buttons-container .two-cuts-button a:hover {
  color: rgb(46, 45, 45);
}
body .buttons-container .two-cuts-button a:hover span:before {
  background-color: #FFF;
  transform: translate(-50%, -50%) rotate(60deg);
  width: 100%;
}
body .buttons-container .two-parts-skewed-button a {
  background: transparent;
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 7px;
  overflow: visible;
  padding: 18px 26px;
  text-transform: uppercase;
}
body .buttons-container .two-parts-skewed-button a:before {
  content: "";
  background: #FF6787;
  height: 100%;
  left: -1%;
  position: absolute;
  top: -5px;
  transform: skewX(30deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 50%;
  z-index: -1;
}
body .buttons-container .two-parts-skewed-button a:after {
  content: "";
  background: #62A862;
  height: 100%;
  left: 51%;
  position: absolute;
  top: 5px;
  transform: skewX(30deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 50%;
  z-index: -1;
}
body .buttons-container .two-parts-skewed-button a:hover:before {
  left: 50%;
  top: 0;
  transform: skewX(0deg);
}
body .buttons-container .two-parts-skewed-button a:hover:after {
  left: 0;
  top: 0;
  transform: skewX(0deg);
}
body .buttons-container .pulsing-button a {
  background-color: #FFF;
  border-radius: 100px;
  color: rgb(46, 45, 45);
  font-size: 24px;
  overflow: visible;
  padding: 25px 50px;
  text-transform: uppercase;
  transition: all 0.2s;
}
body .buttons-container .pulsing-button a:before {
  content: "";
  background-color: #FFF;
  border-radius: 100px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}
body .buttons-container .pulsing-button a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
body .buttons-container .pulsing-button a:hover:before {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}
body .buttons-container .pulsing-button a:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
body .buttons-container .diagonal-swipe-button a {
  border: 4px solid #FE8E7B;
  color: #FE8E7B;
  font-size: 24px;
  height: 80px;
  letter-spacing: 3px;
  line-height: 80px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  width: 250px;
}
body .buttons-container .diagonal-swipe-button a:before {
  content: "";
  border-bottom: 40px solid #FE8E7B;
  border-right: 40px solid transparent;
  border-top: 40px solid #FE8E7B;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all 0.5s;
  z-index: -1;
}
body .buttons-container .diagonal-swipe-button a:after {
  content: "";
  border-bottom: 40px solid #FE8E7B;
  border-left: 40px solid transparent;
  border-top: 40px solid #FE8E7B;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: -1;
}
body .buttons-container .diagonal-swipe-button a:hover {
  color: rgb(46, 45, 45);
}
body .buttons-container .diagonal-swipe-button a:hover:before, body .buttons-container .diagonal-swipe-button a:hover:after {
  transform: translateX(0);
}

@keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}