
$pastel-yellow: rgb(248, 226, 128);
$pastel-purple: #D18BC0;
$pastel-blue: #55CBD3;
$pastel-orange: #FE8E7B;
$pastel-green: #97ED97;
$pastel-pink: #FF6787;

$dark-grey: rgb(107, 106, 106);


body {
    .buttons-container {
        //height: 100vh;
        margin: 50px auto;
        max-width: 1400px;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        // Common styles
        .button {
            margin: 40px 70px;

            a {
                display: block;
                font-family: sans-serif;
                font-size: 20px;
                overflow: hidden;
                padding: 20px 40px;
                position: relative;
                text-decoration: none;
            }
        }


        .rotating-button {
            a {
                border: 3px solid $dark-grey;
                color: $dark-grey;  

                &:before {
                    background-color: $pastel-yellow;
                    content: '';
                    height: 100%;
                    transform-origin: bottom left;
                    transform: rotate(-90deg);
                    transition: transform 0.8s;
                    width: 100%;
                    z-index: -1;

                    position: absolute;
                    left: 0;
                    top: 0;
                }

                &:hover:before { transform: rotate(0deg); }
            }
        }

        .swipe-button {
            a {
                border: 3px solid $pastel-purple;
                color: $pastel-purple;
                transition: all 1s;
    
                &:before {
                    background-color: $pastel-purple;
                    content: '';
                    height: 100%;
                    transform: translateX(-100%);
                    transition: all 1s;
                    width: 100%;
                    z-index: -1;
    
                    position: absolute;
                    left: 0;
                    top: 0;
                }
    
                &:hover {
                    color: #fff;

                    &:before {
                        transform: translateX(0);
                    }
                }
            }
        }

        .opening-button {
            a {
                border: 3px solid $pastel-blue;
                color: $pastel-blue;
                position: relative;
                transition: 1s;

                &:before {
                    content: '';
                    background-color: $pastel-blue;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transform: rotateX(90deg);
                    transition: 1s;
                    width: 100%;
                    z-index: -1;
                }

                &:after {
                    content: '';
                    background-color: $pastel-blue;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transform: rotateY(90deg);
                    transition: 1s;
                    width: 100%;
                    z-index: -1;
                }

                &:hover {
                    color: white;

                    &:before { transform: rotateX(0); }
                    &:after { transform: rotateY(0); }
                }
            }
        }

        .stretch-button {
            a {
                border: 3px solid $pastel-orange;
                color: $pastel-orange;
                font-family: 'roboto';
                font-weight: 300;
                letter-spacing: -1px;
                text-transform: uppercase;
                transition: all 0.5s;

                &:hover {
                    border: 7px solid $pastel-orange;
                    font-weight: 900;
                    letter-spacing: 6px;
                }
            }
        }

        .drop-content-button {
            a {
                background-color: $pastel-green;
                border: 3px solid #FFF;
                color: #FFF;
                overflow: hidden;
                position: relative;
                transition: all 0.8s;

                &:before {
                    content: 'Hello!';
                    background-color: $dark-grey;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transform: translateY(-100%);
                    transition: all 0.8s;
                    width: 100%;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover:before { transform: translateY(0); }
            }
        }

        .glowing-button {
            a {
                background-color: $pastel-pink;
                border: 3px solid #FFF;
                color: #FFF;
                overflow: hidden;
                position: relative;
                transition: all 0.8s;

                &:before {
                    content: '';
                    background-color: #FFF;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 25px;
                    transform: translateX(-100%) rotate(45deg);
                    transition: all 0.3s;
                }

                &:hover { background-color: $dark-grey; }
                &:hover:before { transform: translateX(100%) rotate(45deg); }
            }
        }

        .move-text-content-button {
            a {
                background-color: $dark-grey;
                border: 3px solid $dark-grey;
                color: transparent;
                overflow: hidden;
                position: relative;

                &:before {
                    content: 'Hover Me';
                    background-color: $pastel-yellow;
                    color: $dark-grey;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition: all 0.5s;
                    width: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                &:after {
                    content: 'Hover Me';
                    background-color: $pastel-yellow;
                    color: $dark-grey;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transform: translate(-100%, 100%);
                    transition: all 0.5s;
                    width: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                &:hover:before { transform: translate(100%, -100%); }
                &:hover:after { transform: translate(0, 0); }
            }
        }

        .creative-text-scaling-button {
            a {
                border: 3px solid $pastel-purple;
                color: $pastel-purple;
                position: relative;
                transition: all 0.5s;
                overflow: hidden;

                &:before {
                    content: 'Hover Me';
                    background-color: $pastel-purple;
                    color: #FFF;
                    height: 100%;
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    transform: scale(5);
                    transition: all 0.5s;
                    width: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    &:before {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }

        .circular-swaping-button {
            border: 2px solid $pastel-blue;
            background: none;
            color: $pastel-blue;
            cursor: pointer;
            font-family: sans-serif;
            font-size: 20px;
            overflow: hidden;
            padding: 20px 40px;
            position: relative;
            text-transform: uppercase;
            transition: all 0.5s;

            &:before {
                content: '';
                background-color: $pastel-blue;
                border-radius: 0 0 50% 50%;
                height: 0;
                left: 0;
                position: absolute;
                top: 0;
                transition: all 0.5s;
                width: 100%;
                z-index: -1;
            }

            &:hover {
                color: #FFF;
                &:before { height: 100%; }
            }
        }

        .creative-rotating-three-layers-button {
            a {
                background-color: $pastel-orange;
                color: #FFF;
                letter-spacing: 2px;
                overflow: visible;
                text-transform: uppercase;

                &:before{
                    content: 'Hover me';
                    background-color: $dark-grey;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transform-origin: top;
                    transform: rotateX(270deg);
                    transition: all 0.5s;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:after{
                    content: 'Hover me';
                    background-color: $pastel-pink;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transform-origin: top;
                    transform: rotateX(270deg);
                    transition: all 0.5s;
                    transition-delay: 0.25s;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    &:before, &:after { transform: rotateX(0deg); }
                }
            }
        }

        .swapping-left-to-right-button {
            a {
                border: 3px solid $pastel-green;
                color: transparent;
                overflow: visible;
                position: relative;
                text-transform: uppercase;

                &:before {
                    content: 'Hover me';
                    background-color: $dark-grey;
                    color: $pastel-green;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition: all 0.6s;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:after {
                    content: 'Hover me';
                    background-color: $dark-grey;
                    color: $pastel-green;
                    height: 100%;
                    left: -100%;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    transform: scale(0) rotatye(0deg);
                    transition: all 0.6s;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    &:before {
                        left: 100%;
                        opacity: 0;
                        transform: scale(0) rotateY(360deg);
                    }

                    &:after {
                        left: 0;
                        opacity: 1;
                        transform: scale(1) rotateY(360deg);
                    }
                }
            }
        }

    }
}